.formWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  width: auto;
}

.formFieldsWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;
}

.formFieldsWrapper > * {
  margin-bottom: 10px;
}

.fieldGroup {
  margin: 10px 0;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0;
}

.verticalAlign {
  display: flex;
  flex-direction: column;
}

.verticalAlign > input:not(:last-child) {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 0;
}
